<div class="container-fluid">
    <form class="span8" id="user_form" method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}
        <input type="text" name="query" id="query" value="" size="50"/>
        <input class="btn btn-primary" type="submit" name="submit" value="Search"/>
        <br>
    </form>
    {% if result_list %}
        <div style="clear: both;">
            <ol>
                {% for result in result_list %}
                    <li>
                        <strong><a href="{{ result.link }}">{{ result.title }}</a></strong>
                        <em>{{ result.summary }}</em>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
</div>